* {
    margin: 0;
    padding: 0;
}

/* Body */

body {
    background-color: $color-fondo;
    font-family: 'Alegreya Sans', sans-serif;
}

/* Main */

main {
    margin: 20px;
    padding: 20px;
}

h1 {
    text-align: center;
    color: $color-fuentes;
    margin: 20px;
}

h2 {
    text-align: left;
    color: $color-fuentes;
}

h3 {
    text-align: center;
    color: $color-fuentes;
}

.card-title {
    color: $color-fuentes;
}

p {
    color: $color-fuentes;
}